body {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 80vw;
  min-height: calc(100vh - 100px);
  font-family: Arial, sans-serif;
}

hr {
  width: 90%;
  margin: 20px auto;
  border: 1px;
}

header {
  text-align: center;
}

.sections {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 90%;
  margin: 0 auto 40px;
}

section {
  width: 40%;
}

.vertical-line {
  width: 2px;
  border: none;
  align-self: stretch;
}
